@model IEnumerable<EntityLayer.Concreate.SocialMedia>

@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@



<div class="columns-2 mt-lg-0 mt-3">
    <ul class="social">

        @foreach(var x in Model){
        <li>
            <a href="@x.SocialMediaUrl"><span class="@x.SocialMediaIcone" aria-hidden="true" ></span></a>
        </li>
        }
    </ul>
</div>