@model EntityLayer.Concreate.Destination


@{
    ViewData["Title"] = "AddDestination";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Rota Ekle</h1>

<form method="post" class="form-group">
    <label>Şehir</label>
    <input type="text" class="form-control" asp-for="DestinationCity" />
    <span asp-validation-for="DestinationCity" style="color:red"></span>
    <br />
    <label>Tur Süresi</label>
    <input type="text" class="form-control" asp-for="DestinationDayAndNight" />
    <span asp-validation-for="DestinationDayAndNight" style="color:red"></span>
    <br />
    <label>Fiyat</label>
    <input type="text" class="form-control" asp-for="DestinationPrice" />
    <span asp-validation-for="DestinationPrice" style="color:red"></span>
    <br />
    <label>Kapasite</label>
    <input type="text" class="form-control" asp-for="DestinationCapacity" />
    <span asp-validation-for="DestinationCapacity" style="color:red"></span>
    <br />
    <label>Rehber</label>
    <select class="form-control" asp-for="GuideID" asp-items="ViewBag.GuideList"></select>
    <span asp-validation-for="GuideID" style="color:red"></span>
    <br />
    <label>Kısa Açıklama</label>
    <input type="text" class="form-control" asp-for="DestinationDescription" />
    <span asp-validation-for="DestinationDescription" style="color:red"></span>
    <br />
    <label>Resim Uzantısı</label>
    <input type="text" class="form-control" asp-for="DestinationImage" />
    <span asp-validation-for="DestinationImage" style="color:red"></span>
    <br />
    <label>Kapak Resim Uzantısı</label>
    <input type="text" class="form-control" asp-for="DestinationImageCover" />
    <span asp-validation-for="DestinationImageCover" style="color:red"></span>
    <br />
    <label>Detaylar Resim Uzantısı</label>
    <input type="text" class="form-control" asp-for="DestinationImageDetail" />
    <span asp-validation-for="DestinationImageDetail" style="color:red"></span>
    <br />
    <label>Ana Sayfada birinci öne çıkan tur olsun mu</label>
    <select class="form-control" asp-for="FeatureMainPost" asp-items="ViewBag.FeatureTrueFalse"></select>
    <span asp-validation-for="FeatureMainPost" style="color:red"></span>
    <br />
    <label>Ana Sayfada öne çıkan post olsun mu </label>
    <select class="form-control" asp-for="FeatureSubPost" asp-items="ViewBag.FeatureTrueFalse"></select>
    <span asp-validation-for="FeatureSubPost" style="color:red"></span>
    <br />
    <label>Birinci Uzun Açıllama</label>
    <textarea cols="30" rows="5"  type="text" class="form-control" asp-for="DestinationDescriptionLong1"></textarea>
    <span asp-validation-for="DestinationDescriptionLong1" style="color:red"></span>
    <br />
    <label>İkinci Uzun Açıllama</label>
    <textarea cols="30" rows="5" type="text" class="form-control" asp-for="DestinationDescriptionLong2" ></textarea>
    <span asp-validation-for="DestinationDescriptionLong2" style="color:red"></span>
    <br />

    <button class="btn btn-info">Ekle</button>
    

</form>

