@model EntityLayer.Concreate.About

@{
    ViewData["Title"] = "AboutPage";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Hakkımzda Sayfası Bilgiler</h1>

<a style="margin-bottom:20px" href="/Admin/About/AboutSubPage" class="btn btn-outline-primary">Ana Sayfa Hakkımda Kısmını Düzenle</a>

<form method="post" class="form form-group">
    <input type="hidden" asp-for="AboutId" class="form-control" />
    <label>Başlık Bir</label>
    <input type="text" asp-for="AboutTitle1" class="form-control" />
    <span class="alert-danger" asp-validation-for="AboutTitle1"></span>
    <br />
    <label>Açıklama Bir</label>
    <textarea cols=50 rows=10 asp-for="AboutDetails1" class="form-control"></textarea>
    <span class="alert-danger" asp-validation-for="AboutDetails1"></span>
    <br />
    <label>Başlık İki</label>
    <input type="text" asp-for="AboutTitle2" class="form-control" />
    <span class="alert-danger" asp-validation-for="AboutTitle2"></span>
    <br />
    <label>Açıklama Bir</label>
    <textarea cols=50 rows=10 asp-for="AboutDetails2" class="form-control"></textarea>
    <span class="alert-danger" asp-validation-for="AboutDetails2"></span>
    <br /><label>Resim Adresi</label>
    <input type="text" asp-for="AboutImage1" class="form-control" />
    <span class="alert-danger" asp-validation-for="AboutImage1"></span>
    <br />
    <button class="btn btn-info">Güncelle</button>
</form>

