

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<form method="post"> 
    <label>Şehir ismi girin</label>
    <input type="text" name="CityName" class="form-control"/>
    <br />
    <button class="btn btn-info">Ara</button>
</form>





