
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Excel raporları</h1>


<a style="margin-top:20px" class="btn btn-info" href="/admin/Excel/DynamicExcel">Rota.xlsx İndir</a>
