@model DTOLayer.AnnouncementDTOs.AnnouncementAddDTOs

@{
    ViewData["Title"] = "AddAnnouncement";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Duyuru Ekle</h1>

<form class="form-group" method="post">
    <label>Başlık</label>
    <input class="form-control" type="text" asp-for="AnnouncementTitle" />
    <span asp-validation-for="AnnouncementTitle"></span>
    <br />
    <label>Açıklama</label>
    <input class="form-control" type="text" asp-for="AnnouncementContent" />
    <span asp-validation-for="AnnouncementContent"></span>
    <br />
    <button class="btn btn-info">Ekle</button>


</form>


