@model IEnumerable<DTOLayer.AnnouncementDTOs.AnnouncementListDTOs>


@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Index</h1>

<table class="table table-bordred">
    <tr>
        <th>Id</th>
        <th>Başlık</th>
        <th>İçerik</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach(var x in Model)
    {
        <tr>
            <td>@x.AnnouncementId</td>
            <td>@x.AnnouncementTitle</td>
            <td>@x.AnnouncementContent</td>
            <td>
                <a class="btn btn-danger" href="/Admin/Announcement/DeleteAnnouncement/@x.AnnouncementId">Sil</a>
            </td>
            <td>
                <a class="btn btn-warning" href="/Admin/Announcement/UppdateAnnouncement/@x.AnnouncementId">Güncelle</a>
            </td>
        </tr>
    }

</table>

<a class="btn btn-info" href="/Admin/Announcement/AddAnnouncement">Ekle</a>

