
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


<div class="best-rooms py-5">
    <div class="container py-md-5">
        <div class="ban-content-inf row">

            @await Component.InvokeAsync("FeatureMain")

            @await Component.InvokeAsync("FeatureSub")
            
        </div>
    </div>
</div>